.p-form {
    display: flex;
    flex-wrap: wrap;

    .ant-form-item {
        margin-bottom: $margin;

        .ant-col {
            padding: 0;
        }

        .ant-form-item-label {
            line-height: 3rem;
        }

        &.form-item-submit {
            margin-bottom: 0;
        }
    }
}

.login-form-wrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: gradient(login);

    .login-form {
        width: $login-width;
        flex-direction: column;
        background-color: white;
        box-shadow: shadow(login);
        padding: $login-padding;
        border-radius: $col-radius;
    }
}