.p-quick-stats {
    display: flex;
    flex-direction: column;
    color: white;

    &.p-col {
        background: $primary;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: white;
    }
}

.quick-stats-row-one {
    display: flex;
    align-items: center;

    i {
        font-size: 3.3rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0 10px;
    }
}

.quick-stats-row-two {
    margin-top: $margin;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    span {
        margin: 0 5px;
    }

    i {
        font-size: 2.2rem;
    }
}

.ant-col {
    &:nth-child(1) .p-quick-stats {
        background-image: gradient(quick-stats-1);
    }

    &:nth-child(2) .p-quick-stats {
        background-image: gradient(quick-stats-2);
    }

    &:nth-child(3) .p-quick-stats {
        background-image: gradient(quick-stats-3);
    }

    &:nth-child(4) .p-quick-stats {
        background-image: gradient(quick-stats-4);
    }
}